* {
  min-width: 0;
  font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1, h2 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Lector de Mentes */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  & * {
    width: fit-content;
  }
}

.dialog {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
}

.process {
  width: 320px;
  border-radius: 7px;
  padding: 1rem 2rem 2rem;
  background-color: white;

  & .box {
    border: 1px solid black;
    height: 2rem;
    width: 100%;
  }
}
.loading {
  background-color: green;
  height: 100%;
  animation: cargar linear 4s forwards;
}

@keyframes cargar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}